/* DASHBOARD INICIO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #34495e;
    border-radius: 5px;
}

.submenu {
    list-style-type: none;
    padding-left: 20px;
    display: none;
}

.sidebar ul li.active>a {
    background-color: #1abc9c;
}

.sidebar ul li.active .submenu {
    display: block;
}

.sidebar ul li .submenu li a {
    background-color: #34495e;
    padding: 8px;
}


.sidebar ul li .submenu li a:hover {
    background-color: #1abc9c;
}

.sidebar ul li a:hover {
    background-color: #1abc9c;
}

.sidebar ul li .submenu li .act{
    background-color: #127763;
}

/* DASHBOARD FINAL */

.content {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
}

.content h1 {
    margin-bottom: 20px;
    text-align: center;
}

.form-container {
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container h2 {
    color: #34495e;
    margin-bottom: 20px;
    text-align: center;
}

.horizontal-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-group {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1abc9c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.organolepticas-container {
    flex: 1;
    min-width: 48%;
    background-color: #f0f0f0;
    padding: 15px 0px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.organolepticas-container h2 {
    margin-bottom: 15px;
    color: #34495e;
}

.test-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.test-group:has(input[type="radio"]) {
    border-radius: 8px;
    padding: 10px 10px 0px;
    border: 1px solid #ccc;
    background-color: #ecf0f1;
}

.checkbox-options {
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 8px;
    padding: 10px;

    grid-row: 1/5;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    width: 100%;
}

.checkbox-container input[type="checkbox"] {
    display: none;
}

.checkbox-container label {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    padding-top: 6px;
}

.checkbox-container label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
}

.checkbox-container input[type="checkbox"]:checked+label:before {
    background-color: #1abc9c;
    border-color: #ecf0f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.checkbox-container input[type="checkbox"]:checked+label:after {
    content: '✓';
    position: absolute;
    left: 8px;
    top: 2px;
    font-size: 20px;
    color: white;
}

.checkbox-container label:hover:before {
    background-color: #16a085;
}

.form-group.button-container {
    width: 100%;
    text-align: center;
}

button[type="submit"] {
    width: 100%;
    font-size: 20px;
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #16a085;
}

/* RADIO BUTTON INICIO*/
.radio-container {
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

.radio-container label:before {
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    content: '';
    display: inline-flex;
    height: 25px;
    line-height: 25px;
    margin: 0px 15px 0px 15px;
    text-align: center;
    width: 25px;
}

.radio-container input[type="radio"]:checked+label:before {
    background-color: #1abc9c;
    border-color: #34495e;
}

/* RADIO BUTTON FINAL*/


/* BARRA DE BUSQUEDA INICIO*/
.barra-busqueda {
    display: grid;
    grid-template-columns: 8fr 1fr;
    margin-bottom: 40px;
    gap: 10px;
}

.barra-busqueda input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.agregar{
    grid-column: 1/3;
}
/* BARRA DE BUSQUEDA FINAL*/

/* TABLA INICIO*/

.tabla-proveedores {
    margin-top: 20px;
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f0f0f0;
}

.actions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.editar, .ver, .eliminar {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.editar {
    background-color: #f39c12; 
    color: white;
    width: 100%;
}

.ver {
    background-color: #2980b9;
    color: white;
    grid-column: 1/3;
    width: 100%;
}

.eliminar {
    background-color: #c0392b;
    color: white;
    width: 100%;
}

/* TABLA FINAL*/